@charset "utf-8";
/* CSS Document */

/* Background-Styles */
body {
	margin:0px;
	padding: 0 0 2rem 0;
	background-color: #FFF;
	*{
		color: #000;
		font-family:Helvetica, sans-serif!important;
	}
	display: flex;
	flex-direction: column;
}

#progress{
	text-align: center;
}

.title-sticky{
	position: sticky;
	top: 0;
  	border-bottom: 1px solid #DDD;
	width: 100%;
	background-color: #FFF;
}

.title{
	text-align: center;
}

.subtitle{
	text-align: center;
	color: #444;
}

.double-row{
	grid-column: 1/3;
}

.container{
	display: grid;
	padding-left: 2rem;
	padding-right: 2rem;
	gap: 5px;
	grid-template-columns: repeat(2,1fr);
}

.container-element{
	border: 2px solid #DDD;
}

.value-text{
	background-color: #000;
	color: #FFF;
	padding: 5px;
}

.button {
  appearance: none;
  background-color: transparent;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: normal;
  outline: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: #000;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.button:active {
  box-shadow: none;
}

input[type="file"]::file-selector-button {
  appearance: none;
  background-color: transparent;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: normal;
  outline: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

input[type="file"]::file-selector-button:hover{
  color: #fff;
  background-color: #000;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

input[type="file"]::file-selector-button:active {
  box-shadow: none;
}
  
#git {
	background-color: #FFF;
	font-size: 15px;
	display: auto;
	padding: 10px;
	border: 1px solid #CCC;
	position: relative;
	-moz-box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
	box-shadow: 2px 2px 5px #888;
}

#git a {
	color:#00F;
	font-weight: normal;
	}
	
#git a:hover {
	color:#D14836;
}

.passed-text {
	color:green;
}

.failed-text {
	color:red;
}


#main {
	padding-top:0px;
	min-width: 420px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-right: 20px;
	padding-bottom: 50px;
	padding-left: 20px;
}
  
ul#testresults {
	background-color: #FFF;
	display: block;
	padding: 10px;
	border: 1px solid #CCC;
	list-style-type: none;
	position: relative;
    -moz-box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;
}

ul#testresults li {
	list-style-type: none;
	display: block;
	background-color: #eef1f1;
	margin: 5px;
	padding: 5px;
		}

ul#testlogs {
	background-color: #FFF;
	display: block;
	padding: 10px;
	border: 1px solid #CCC;
	list-style-type: none;
	position: relative;
    -moz-box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;
}

ul#testlogs li {
	text-decoration:none;
	list-style-type: none;
	display: block;
	background-color: #eef1f1;
	margin: 5px;
	padding: 5px;
	font-size: 15px;
		}
		

ul#testlogs li a {
	text-decoration:none;
	color:#8aa19c;
	font-weight: bold;
	font-size: 12px;
	}
	
ul#testlogs li a:hover {
	color:#D14836;
}

.status-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.status-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.status-table th,
.status-table td {
    padding: 12px 15px;
}

.status-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.status-table tbody tr.Failed {
    font-weight: bold;
    background-color: rgba(255,0,0,0.2);
}

.status-table tbody tr.Error {
    font-weight: bold;
    background-color: rgba(255,0,0,0.2);
}

.status-table tbody tr.Pending {
    font-weight: bold;
    background-color: rgba(128,128,0,0.1);
}

.status-table tbody tr.Finished {
    font-weight: bold;
    background-color: rgba(0,255,0,0.1);
}

.status-table tbody tr.Running {
    font-weight: bold;
    background-color: rgba(0,255,0,0.15);
}
